.header-bar {
  text-align: center;
  padding-top: 2rem;
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: 400;
  }
}

/* =========================
   BUY ME A BEER
========================= */
.buymeabeer-post {
  padding-top: 2rem;
}

.buymeabeer-post .caption {
  color: inherit;
  transition: text-decoration-color 0.2s ease;
}

/* =========================
   LINKS
========================= */

.related-posts a:hover {
  color: var(--global-theme-color);
  text-decoration: underline;
}
