.header-bar {
  text-align: center;
  padding-top: 2rem;
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: 400;
  }
}
/* =========================
   BUY ME A BEER
========================= */
.buymeabeer {
  padding-top: 2rem;
}

/* =========================
   LINKS
========================= */

.related-posts a:hover {
  color: var(--global-theme-color);
  text-decoration: underline;
}
